.OrderItem_container{
    border-top: 1px solid gray;
    border-bottom:1px solid gray;
    margin-top: -1px;
}
.OrderItem_container:hover{
    position: relative;
    background-color: rgb(234, 234, 234);
    cursor: pointer;
}
.item_name_and_price{
    display: flex;
    justify-content: space-between;
}
.item_name_and_price span{
    color: #4C4C4C;
    font-size: 14px;
    font-weight: 700;
}
.order_item_price{
    position: relative;
    right: 5px
}
.single_item_container p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666;
}

.item_form_overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4); 
    z-index: 7000;
    overflow-y: auto;
}
.item_form_large_screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8;
    position: absolute;
    width: 300px;
    height: fit-content;
    cursor: auto;
    z-index: 8000;
    border: 1px solid rgb(205, 205, 205);
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2), 2px 2px 5px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.2);
}
.item_form_body_large_screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.item_form_body_large_screen p{
    width: 100%;
    margin-top: 0;
    margin-bottom: 20px;
}
.item_form_body_large_screen .item_description{
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
    font-size: 14px;
}
.item_form_body_large_screen .special_instructions{
    color: #434343;
    font-family: Arial, Helvetica, sans-serif;
}
.item_form_body_large_screen .input_container{
    position: relative;
    width: 100%;
}
.input_container div{
    position: absolute;
    height: 40px;
    right: -4px;
    top: 4px
}
.input_container button{
    height: 38px;
    width: 38px;
    margin-left: 5px;
    color: white;
    font-weight: bolder;
    font-size: 24px;
    background-color: gray;
    border: none;
    border-radius: 3px;
    cursor: pointer
   
}
.item_form_body_large_screen textarea,  input{
    width: 100%;
}
.item_form_body_large_screen input{
    height: 40px;
    font-size: 18px;
    color: #666;
}
/* Style the number input */


.add_to_cart_div_large_screen{
    width: 100%;
    background-color: white;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
}
/* ITEM FORM SMALL SCREEN */

.item_form_small_screen{
    position: fixed;
    top: 0; 
    left: 0;
    
    height: 100%;
    z-index: 7000;
}
.item_form_nav{
    height: 60px;
    width: 100%;
}
.item_form_nav_button{
    display: none;
    position: fixed;
    color: rgb(124, 124, 124);
    height: 59px;
    width: 71px;
    font-size: 30px;
    border-left: 1px solid rgb(188, 188, 188);
    border-right: 1px solid rgb(188, 188, 188);
    border-bottom: none;
    border-top: none;
    top: -60px;
    left: 0;
    
}
.item_form_body{
    background-color: #f1f0f0;
    width: 100%;
    height: 100%;
    
}
.item_form_body p{
    margin: 0;
}
.add_to_cart_div_large_screen{
   
}
.add_to_cart_orange{
    display: flex;
    background-color: #F08B18;
    width: fit-content;
    padding: 5px;
    border-radius: 3px;
    width: 90%;
    color: white;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 15px;
}
.add_to_cart_orange .add_to_cart{
    width: 100%;
    display: flex;
    justify-content: center;
}
.add_to_cart_button button{
    cursor: pointer;
    border: none;
}
@media screen and (max-width: 769px) {
    .item_form_large_screen{
        width: 100vw;
        position: fixed;
        height: 100%;
        top: 60px;
        transform: translateX(-10px);
    }
    .item_form_overlay{
        display: none;
    }
    .item_form_nav_button{
        display: inline;
    }
    .add_to_cart_div_large_screen{
        background-color: transparent;
        position: sticky;
        bottom: 0px;
        box-shadow: none;
        padding: 0px;
    }
    .add_to_cart_orange{
        width: 100%;
        border-radius: 0px;
        height: 40px;
        align-items: center;
    }
    .item_form_body_large_screen{
        height: 100%;
    }
    .item_form_body_large_screen textarea{
        height: 60px;
        margin-left: 1px;
    }
    .input_container{
       
    }
    .input_container input{
        padding-left: 5px;
        height: 60px;
        font-weight: bolder;
    }
    .input_container button{
        position: relative;
        height: 55px;
        width: 55px;
        top: 2px;
    }
}
