#overlay_container{
    display: flex;
    justify-content: center;
}

#order_container{
    position: absolute;
    height: 90vh;
    width: 80vw;
    overflow: scroll;
    background-color: white;
    z-index: 5000;
}

#online_order_heading{
    text-align: center;
}
.order_header{
    width: 80vw;
    position: fixed;
    top: 18px;
    background-color: white;
}
#cart_info{
    display: flex;
    justify-content: space-around;
}
.order_items_container{
    padding-top: 157px;
}
.order_section{
    border-bottom: solid black 2px;
}