#home_page_container{
    margin: 0px;
    padding: 0px;
}
#civiche_image{
    margin: none;
    width: 100%;

}
#join_the_club{
    width: 100%;
    background-color: var(--header_color);
    margin-top: 17px;
}
#join_the_club_text{
    padding-block: 55px;
}
#join_the_club_header{
    text-align: center;
    color: #ffffff;
    font-family: Lato, sans-serif;
    font-size: 30px;
    font-weight: bold;
}
#news_and_offers{
    text-align: center;
    color: #ffffff;
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.45;
}
#join_the_club_form{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#club_inputs{
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}
#club_inputs input{
    border: none;
    border-radius: 3px;
    margin: 10px;
}

#club_submit{
    width: 100%;
    background-color: var(--header_color);
    border: none;
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 20px;
    color: rgb(255,255,255);
    font-weight: 900; 
    margin-top: 10px;
    margin-bottom: 30px;
}

#food_sell_div{
    background-color: rgb(229, 229, 229);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: fit-content;
    margin-top: 17px;
    height: fit-content;
}
#food_sell_text{
    padding: 15px;
}
#food_sell_text h1{
    font-family: Lato, sans-serif;
    font-weight: bolder;
    font-size: 60px;
    line-height: 1.1;
    text-align: left;
    color: var(--header_color);
    font-style: normal;
    text-transform: uppercase;
}
#food_sell_text p{
    font-size: 30px;
    color: #332827;
    font-family: "Montserrat",sans-serif;
    font-weight: 400;
    line-height: 1.45;
    padding: 0;
    word-wrap: break-word;
}
#taco_image_container{
    display: flex;
    justify-content: right; 
    align-items: start;
}
#tacos_image{
    position: relative;
    
    width: 100%; /* Image takes up 100% width of its container */
    max-height: 550px;/* Image takes up 100% height of its container */
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
}

@media (max-width: 991px) {
    #home_page_container {
        margin-top: var(--header_height);
    }
}

@media screen and (max-width: 768px) {
    #food_sell_div{
        display: block;
    }
}