#home_page_container{
    margin: 0px;
    padding: 0px;
}
#civiche_image{
    margin: none;
    width: 100%;

}
#join_the_club{
    background-color: var(--header_color);
    margin-top: 17px;
}
#join_the_club_text{
    padding-block: 55px;
}
#join_the_club_header{
    text-align: center;
    color: #ffffff;
    font-family: Lato, sans-serif;
    font-size: 30px;
    font-weight: bold;
}
#news_and_offers{
    text-align: center;
    color: #ffffff;
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.45;
}
#join_the_club_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#club_inputs{
    margin: 0;
    display: flex;
    justify-content: center;

    width: 100%;
}
#club_inputs input{
    border: none;
    border-radius: 3px;
    margin: 10px;

}
#club_submit{
    width: 100%;
    background-color: var(--header_color);
    border: none;
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 20px;
    color: rgb(255,255,255);
    font-weight: 900; 
    margin-top: 10px;
}

#food_sell_text{
  padding: 0;
  margin: 0;
}
#taco_image_container{
    width: 100%;
    padding: 0px;
    margin: 0px;
}
#tacos_image{
    right: 10px;
    width: 100;
    object-fit: cover;
}