#footer{
    margin-top: 17px;
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: var(--header_color);
}
#footer_nav_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.footer_nav_link{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Montserrat",sans-serif;
    font-weight: 200;
    padding: 10px;
}
.footer_nav_link:hover{
    background-color: #4DAA1E;
    
}
.footer_nav_link.active{
    background-color: #4DAA1E;
}
#copyright{
    text-align: center;
}
@media (max-width: 768px) {
    #footer_nav_container {
        flex-direction: column;
    }
}