.review_order_container{
    background-color: #e5e5e5;
    height: 100vh;
}
.review_order_body{
    padding: 17px;
}
.check_location_review{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid rgb(194, 193, 193);
    padding: 25px
}
.not_taking_orders{
    border: 1px solid rgb(194, 193, 193);
    margin-top: 17px;
    padding: 25px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: #4d4d4d;
    font-weight: bold;
    font-size: 14px;
}
.revew_order_footer{
    width: 100%;
    background-color: white;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
}