    .custom_nav {
        background-color: var(--header_color);
        position: sticky;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        display: flex;
        height: 70px;
        align-items: center;
    }

    #nav_left {
        width: 50%;
    }

    #nav_right {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    #nav_right .nav_link:hover{
        background-color: #ffffff;
        color: var(--header_color);
    }

    .nav_link {
        font-family: Lato, sans-serif;
        padding: 0px;
        font-weight: 700;
        font-size: 24px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--bright_nav_color);
        color: #ffffff;
        margin-top: 13px;
        margin-bottom: 13px;
        margin-inline: 5px;
        box-sizing: border-box;
        white-space: nowrap;
        padding: 7px;
    }

    #order_online_link_container{
        display: flex;
        align-items: center;
        height: 39px;
    }
    #order_online_image{
        margin-bottom: 7px;
        margin-inline: 15px;
        width: 160px;
        background-color: var(--header_color);
    
        transform: translateY(3px);
    }
    .nav_link.active {
        background-color: #ffffff;
        font-weight: bold;
        color: var(--bright_nav_color)
    }

    #logo {
        background-color: white;
        height: 230px;
        width: 230px;
        position: relative;
        top: 82px;
        border-radius: 100%;
    }
    .bm-burger-button {
        position: sticky;
        width: 40px;
        height: 40px;
        top: 18px;
        margin-right: 20px; /* Keep the button on the right */
        z-index: 1000;
    }
    .bm-burger-bars {
    background:aliceblue;
    } 
    

    .bm-cross-button {
        height: 24px;
        width: 24px;
        transform: translateX(-20px) translateY(20px)
    }
    .bm-cross {
    background: #7e8386;
    }
    
 
    /* Morph shape necessary with bubble or elastic */
    .bm-morph-shape {
        fill: #373a47;
    }
    
    /* Wrapper for item list */
    .bm-item-list {
        color: #b8b7ad;
        padding: 0.8em;
    }
    
    /* Individual item */
    .bm-item {
        display: inline-block;
    }
    
    /* Styling of overlay */
 
    .bm-menu-wrap {
        top: 0;
        position: fixed;
        width: 300px;
        height: 100%;
        right: -300px; /* Start the menu off-screen on the right */
        transition: right 0.3s ease; /* Transition the right property for the menu */
      }
    .bm-menu {
        background-color: rgb(149, 215, 42);;
        width: 100%;
        padding: 2.5em 1.5em 0;
        font-size: 1.15em;
        right: 0; /* Slide the menu in */
        transition: right 0.3s ease; /* Transition the right property for the menu */
        /* Add the following styles for the overlay */
        &::before {
          content: '';
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
          transition: background-color 0.3s ease; /* Add a smooth transition for the background color */
          z-index: -1; /* Place the overlay behind the menu */
          pointer-events: none; /* Prevent clicks on the overlay */
        }
      }
    
    /* Individual item */
    .bm-item {
        display: inline-block;
        width: 100%;
        color: #ffffff;
        font-family: Lato, sans-serif;
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 20px;
        text-align: center;
        text-decoration: none;
        transition: color 0.2s;
    }
    
    .bm-item:hover {
        color: #ffffff;
    }
    
    #burger_submenu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        height: 0px;
        overflow: hidden;
        background-color: rgb(149, 215, 42);
        
    }
    #burger_submenu a{
        display: flex;
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        color: #ffffff;
        margin: 10px;
        width: 100% !important
    }
    #burger_location1{
        border-bottom: 1px solid white;
    }
    @media (max-width: 479px) {
        #logo{
        width: 140px;
        height: 140px;
        top: 37px
        }
    }
    @media (max-width: 991px) {
        .custom_nav {
            position: absolute;
        }
    }
