.OrderItem_container{
    border-top: 1px solid gray;
    border-bottom:1px solid gray;
    margin-top: -1px;
}
.OrderItem_container:hover{
    background-color: rgb(234, 234, 234);
    cursor: pointer;
}
.item_name_and_price{
    display: flex;
    justify-content: space-between;
}
.item_name_and_price span{
    color: #4C4C4C;
    font-size: 14px;
    font-weight: 700;
}
.order_item_price{
    position: relative;
    right: 5px
}
.single_item_container p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666;
}
.item_form{
    background-color: #f1f0f0;
    position: relative;
    left: 240px;
    width: 300px;
    height: 300px;

}
.item_form_overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.4); 
    z-index: 7000;
  
}